<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Notifications</title>
</head>
<body class="bg-dark text-light">
    
    <div class="container-fluid mx-auto">
        <div class="row jumbotron text-center">
            <h2 class="display-5 mt-4">Documentation</h2>
        </div>
        <nav class="navbar justify-content-center">
            <ul class="nav">
                
                <li class="nav-item">
                  <a class="nav-link" href="documentation">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="builds">History</a>
                </li>
            </ul>
        </nav>

        
        <div class="row justify-content-center">
            <table class="table table-bordered text-light w-auto">
                <tr>
                    <td colspan="2" class="lead py-2 text-center" style="font-family:monospace;">def update_status(json_payload, status, auth_token):</td>
                </tr>
                <tr>
                    <th><small>Description</small></th>
                    <td class="pb-4"><small>sends a POST request to the GitHub API to update the build success</small></td>
                </tr>
                <tr>
                    <th><small style="font-weight:bold;"><span>Parameters</span></small></th>
                    <td>
                        <ul>
                            <li class="pb-4" style="font-family:monospace;">
                                json_payload
                                <br> <small style="font-family:sans-serif;">The JSON data coming from the push param status - </small>
                            </li>
                            <li class="pb-4" style="font-family:monospace;">
                                status
                                <br> <small style="font-family:sans-serif;">The status of the build retrieved from `requests`. The status of the commit can be 'pending', 'success' or 'failure'.</small>
                            </li>
                            <li class="pb-4" style="font-family:monospace;">
                                auth_token
                                <br> <small style="font-family:sans-serif;">The access token must be included to authenticate to GitHub</small>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th><small>Return</small></th>
                    <td>            
                        <ul>
                            <li class="pb-4" style="font-family:monospace;">
                                post_req
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>

        </div>

        
    </div>
    
</body>
</html>